<div class="login-page">
    <form action="/auth/login" method="post">
        <input type="text" placeholder="Email">
        <input type="password", placeholder="Password">
        <input type="submit" value="Login">
        <a href="/auth/signup">Sign Up</a>
    </form>
</div>
