<article>
    <h1>Library Update Form</h1>
    <h2 id="error" class="error">{{{error}}}</h2>
    <form action="/libraries/{{id}}/survey" method="POST" class="fullness-form" id="fullness-form">
     {{!-- This Code is from Danielle's branch's new --}}
     {{!-- This is to get data on the fullness --}}
      <label for="fullness">
        Please select how full the library is, 0 being empty and 5 being full
      </label>
      <select class="full-width-input" name="fullness" id="fullness">
        <option value="">Fullness is...</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <p>Please select the genres of books currently present in the library</p>
      <div id="genres">
        <label for="pictureBooks">
          <input type="checkbox" name="pictureBooks" id="pictureBooks" value="pictureBooks">Picture Books</label>
        <label for="youngAdultFiction">
          <input type="checkbox" name="youngAdultFiction" id="youngAdultFiction" value="youngAdultFiction">Young Adult Fiction</label>
        <label for="fantasyFiction">
          <input type="checkbox" name="fantasyFiction" id="fantasyFiction" value="fantasyFiction">Fantasy Fiction</label>
        <label for="fairyTale">
          <input type="checkbox" name="fairyTale" id="fairyTale" value="fairyTale">Fairy Tale</label>
        <label for="boardBook">
          <input type="checkbox" name="boardBook" id="boardBook" value="boardBook">Board Book</label>
        <label for="nonFiction">
          <input type="checkbox" name="nonFiction" id="nonFiction" value="nonFiction">Non-fiction</label>
        <label for="mystery">
          <input type="checkbox" name="mystery" id="mystery" value="mystery">Mystery</label>
        <label for="graphicNovel">
          <input type="checkbox" name="graphicNovel" id="graphicNovel" value="graphicNovel">Graphic Novel</label>
        <label for="chapterBooks">
          <input type="checkbox" name="chapterBooks" id="chapterBooks" value="chapterBooks">Chapter Book</label>
      </div>
      <button type="submit">Update Library</button>
      <button type="reset">Clear Form</button>
    </form>
</article>
<script src="/public/js/fullness.js" type="module"></script>