<p>Each pin represents a library you can interact with!</p>
<p>To create a library, see your created libraries or to see your favorited libraries go to your profile page.</p>
<iframe src="/gmaps" class="gmaps"></iframe>