#LFLC-logo{
	width: 275px; 
	height: 100px; 
	/* color in the logo */
	border: 3px solid #5dbbc7;
}

/* used throughout app for links */
a:link { 
	text-decoration: none;
	color: #5dbbc7;
}
a:hover{
	font-style: normal;
	font-weight: 700;
	color: #4d4d4d;
}

/* Can be reused easily */
.center{
	text-align: center;
}
.bold{
	font-weight: bold; 
}

/* For just the about page */
#homePageLink{
	font-size: 1.5em;
}
#headAbout{
	display: flex;
  	justify-content: space-between;
}
#aboutSetup{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Style for the restaurant name */
.restaurant h2 {
margin-top: 0;
margin-bottom: 5px;
}

/* Style for the restaurant description */
.restaurant p {
margin-top: 0;
margin-bottom: 10px;
}

/* Style for the unfollow and expand buttons */
.restaurant button {
margin-right: 10px;
}

.login-page {
	background-color: #252b31 !important;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    color: white;

	height: 100%;
	width: 100%;
}

.login-page form {
	padding: 20px;

	border-radius: 20px;

	text-align: center;
    background-color: #323741;
}

.login-page input[type="submit"] {
    display: block;
    margin: 10px auto -40px auto;
    background-color: #0373ff;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    height: 40px;

    cursor: pointer;
}

.login-page input[type="submit"]:focus-visible {
    outline: 1px white;
}

footer {
	border-top: 1px dotted #4d4d4d;
}
