#LFLC-logo{
	width: 275px; 
	height: 100px; 
	/* color in the logo */
	border: 3px solid #5dbbc7;
}

/* used throughout app for links */
a:link { 
	text-decoration: none;
	color: #00838e;
}
a:hover{
	font-style: normal;
	font-weight: 700;
	color: #4d4d4d;
}

/* Can be reused easily */
.center{
	text-align: center;
}
.bold{
	font-weight: bold; 
}

/* For just the about page */
#homePageLink{
	font-size: 1.5em;
}
#headAbout{
	display: flex;
  	justify-content: space-between;
}
#aboutSetup{
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

	height: 100%;
	width: 100%;
}

.login-page form {
	border-radius: 20px;

	text-align: center;

	display: flex;
	flex-direction: column;

	background-color: #DAF5FF;

	padding: 25px;
}

.login-page input[type="submit"] {
    display: block;
    margin: 10px auto -43px auto;
    border: 0;
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    height: 40px;

    cursor: pointer;

	color: #007984;
	background-color: #B9E9FC;
}

.login-page h1 {
	color: #00a4b2;
}

.login-page label {
	color: #007984;
}

.login-page input, .login-page select {
	margin: 10px;
}

.login-page a {
	color: #007984;
	text-decoration: underline;

	margin-bottom: 5px;
}

.login-page input:not([type="submit"]), .login-page select {
	border: 0;
	background-color: #B9E9FC;
	color: #007984;
	border-radius: 25px;
	padding: 10px 15px 10px 15px;
}

.login-page{
	color: #5dbbc7;
}

.login-page h1 {
	margin-top: 0;
}

.login-page .error {
	color: #ee0000;
	font-weight: bold;
}

.newLibrary .error {
	color: #ee0000;
	font-weight: bold;
	margin-bottom: 10px;
}

#update-form .error {
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
}

.commentEdit .error {
	color: red;
	font-weight: bold;
}

footer {
	border-top: 1px dotted #4d4d4d;
}

.center-inner-div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.gmaps {
	width: 100%;
	height: 80vh;

	border: 0;
}

.d-flex {
	display: flex;
}

.ml-auto {
	margin-left: auto;
}

.nav-element {
	padding: 10px;
}

html {
    font-family: 'Inter', sans-serif;
}
.justify-content-space-between {
	justify-content: space-between;
}

.mt-auto {
	margin-top: auto;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.pl-25 {
	padding-left: 25px;
}

.pr-25 {
	padding-right: 25px;
}
  
.nav-element a {
	color: inherit;
}

.newLibrary #rightSide{
	position: relative;
	float:right;
	right:18px;

}
.newLibrary #leftSide{
	position: relative;
	float:left;
	width:950px;
}
.newLibrary  .half-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 70%;
}
.library img{
	margin: auto;
	width: 20%;
	border-radius: 10px;
}
.library{
	text-align: center ;
	align-items: center;
}
.library #listGenrers{
	display: flex;
	align-items: center;
	justify-content: center;
}
.newLibrary img{
	margin: auto;
	width: 20%;
	border-radius: 10px;
}

.comment {
	width:fit-content;
	padding: 10px;
	border: 2px solid #004589;
	margin: auto;
}

.commentText {
	font-style: italic;
}

.confirm-changes {
	display: none;
}

/* Style for the user information section */
.user-info {
	border-color: #5dbbc7;
	border-style: groove;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px #007984;
	margin-bottom: 30px;
	align-items: center;
	text-align: center;
}

/* Style for the user library section */
.user-libs {
  border-color: #5dbbc7;
  border-style: groove;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #007984;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Style for the user name */
.user-info h2 {
	font-size: 36px;
	margin: 0;
  }


/* Style for the library name */
.user-libs h2 {
	font-size: 36px;
	margin: 0;
  }


.user-libs .lib-img {
	width: 12%;
	float: right;
	margin-right: 25%;
}

.user-libs .text {
	text-align: center;
	margin-top: 3%;
	margin-left: 25%;
}

.unfollow-button {
	background-color: #d32f2f;
	color: #fff;
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
	transition: background-color 0.2s;
	border-color: #999;
  }

.follow-button {
background-color: #00838e;
color: #fff;
padding: 8px;
font-size: 14px;
font-weight: bold;
margin-top: 15px;
transition: background-color 0.2s;
border-color: #999;
}

.follow-button:hover {
	background-color: #5dbbc7;
}


.unfollow-button:hover {
	background-color: #ff7d74;
}

.rating {
	font-size: 20px;
}

ul {
	display: inline-block;
  }

#show-favs-div {
	display: none;
}

#fav-list-header{
	font-size: 20px;
}

#show-favs-list {
	margin-left: 5px;
}