* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}

body {
	background: #dedede;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
	max-width: 75%;
	margin: auto;
}

header {
	border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: 1.05rem;
}

p {
	font-size: 1rem;
	line-height: 2;
}

.post {
	width: 75%;
	border-bottom: 1px dashed #333;
}

.new-post-form {
	max-width: 300px;
}

.new-post-form .full-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
}

label {
	font-weight: bold;
}

.error-list li {
	color: #ff0000;
}

.author-link,
.author-link:link {
	color: #228b22;
}

.author-link:visited {
	font-style: italic;
	color: saddlebrown;
}

.author-link:hover {
	font-style: normal;
	font-weight: 700;
}

.author-link:active {
	color: #ff0000;
}

.error h1 {
	font-size: 72px;
	margin-bottom: 50px;
  }

.error p {
	font-size: 24px;
	margin-bottom: 20px;
  }

.error button {
	background-color: #ffffff;
	color: #202020;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
  }

.error button:hover {
	background-color: #e6e6e6;
  }

/* Style for the restaurant boxes */
.restaurant {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

/* Style for the restaurant name */
.restaurant h2 {
margin-top: 0;
margin-bottom: 5px;
}

/* Style for the restaurant description */
.restaurant p {
margin-top: 0;
margin-bottom: 10px;
}

/* Style for the unfollow and expand buttons */
.restaurant button {
margin-right: 10px;
}

.login-page {
	background-color: #252b31 !important;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    color: white;

	height: 100%;
	width: 100%;
}

.login-page form {
	padding: 20px;

	border-radius: 20px;

	text-align: center;
    background-color: #323741;
}

.login-page input[type="submit"] {
    display: block;
    margin: 10px auto -40px auto;
    background-color: #0373ff;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    height: 40px;

    cursor: pointer;
}

.login-page input[type="submit"]:focus-visible {
    outline: 1px white;
}