<h1>Owned Restaurants</h1>
    {{#each ownedLibs}}
    <div class="restaurant">
      <h2>{{this.name}}</h2>
      <p>Fullness: {{this.fullness}}</p>
      <button>Edit</button>
      <button>Expand</button>
    </div>
    {{/each}}

<h1>Favorited Restaurants</h1>
    {{#each favLibs}}
    <div class="restaurant">
      <h2>{{this.name}}</h2>
      <p>Fullness: {{this.fullness}}</p>
      <button>Unfollow</button>
      <button>Expand</button>
    </div>
    {{/each}}